**Задание 1**
Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:
- если источник traffic_source равен yandex или google, то в source_type ставится organic
- для источников paid и email из России - ставим ad
- для источников paid и email не из России - ставим other
- все остальные варианты берем из traffic_source без изменений

In [1]:
import pandas as pd

In [31]:
visit = pd.read_csv('visit_log.csv', sep=';')
visit.head()

visit.loc[(visit.traffic_source== 'yandex')|(visit.traffic_source== 'google'), 'source_type']='organic'
visit.loc[(visit.traffic_source== 'paid')&(visit.region== 'Russia'), 'source_type']='ad'
visit.loc[(visit.traffic_source== 'paid')&(visit.region!= 'Russia'), 'source_type']='other'
visit.loc[pd.isnull(visit.source_type), 'source_type']=visit.traffic_source
visit.head()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic


**Задание 2**
В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:
1. Прочитайте содержимое файла с датафрейм
2. Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [41]:
news=pd.read_csv('URLs.txt')
news.head()

news.loc[news.url.str.contains('\/\d{8}\W')]

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [42]:
!pip install pymystem3

Collecting pymystem3
  Downloading https://files.pythonhosted.org/packages/00/8c/98b43c5822620458704e187a1666616c1e21a846ede8ffda493aabe11207/pymystem3-0.2.0-py3-none-any.whl
Requirement already satisfied: requests in c:\users\natalia\anaconda3\lib\site-packages (from pymystem3) (2.22.0)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\natalia\anaconda3\lib\site-packages (from requests->pymystem3) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\natalia\anaconda3\lib\site-packages (from requests->pymystem3) (1.24.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\natalia\anaconda3\lib\site-packages (from requests->pymystem3) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\natalia\anaconda3\lib\site-packages (from requests->pymystem3) (2019.9.11)
Installing collected packages: pymystem3
Successfully installed pymystem3-0.2.0

In [60]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

from pymystem3 import Mystem
m=Mystem()
data['lemma']=data['keyword'].apply(m.lemmatize).astype(str)

data.head()

,keyword,shows,lemma
0,курс гривны к рублю,125076,"['курс', ' ', 'гривна', ' ', 'к', ' ', 'рубль'..."
1,доллары в рубли,114173,"['доллар', ' ', 'в', ' ', 'рубль', '\n']"
2,100 долларов в рублях,97534,"['100', ' ', 'доллар', ' ', 'в', ' ', 'рубль',..."
3,курс рубля,53546,"['курс', ' ', 'рубль', '\n']"